<div class="editing content-editing js__content-editing" data-smt-id='<%= @meta_tag.id %>' data-name='smt'>
  <textarea rows='1' class='edit f-a-input js__edit-textarea'><%= @meta_tag.content_value %></textarea>
</div>
